.header_title {
	font-weight: bold;
	font-size: 20px;
	line-height: 1.6;
	text-decoration: underline;
	font-style: italic;
	padding: 0 15px;
}
.container_list_choosen {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	justify-content: flex-start;
	padding: 0 15px;
}
.item_choosen {
	display: flex;
	align-items: center;
	justify-content: center;
	margin-right: 10px;
	margin-bottom: 10px;
}
.item_choosen label {
	margin: auto;
	font-size: 16px;
	margin-left: 5px;
}
.container_contents {
	margin-top: 15px;
}
