.slider-header {
	position: relative;
	padding-bottom: 30%;
	height: 0;
}

.slider-image {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-position: center;
	background-size: 100% 100%;
	background-repeat: no-repeat;
}

.text-primary {
	color: var(--color-primary);
}

.slider-text-container {
	position: absolute;
	top: 50%;
	left: 50%;
	width: max-content;
	transform: translate(-50%, -50%);
	color: var(--color-white);
	text-align: center;
	/* font-family: 'Grind Demolished', sans-serif; */
	padding: 12px 40px;
	border-radius: 12px;
	background-color: #ffffff05;
	backdrop-filter: blur(10px);
	-webkit-backdrop-filter: blur(10px);
}

.slider-title {
	font-size: 4rem;
	text-shadow: 1px 1px 10px rgba(0, 0, 0, 0.5);
}
@media (min-width: 46.25em) and (max-width: 63.9375em) {
	.slider-header {
		padding-bottom: 40%;
	}
}
/* MOBILE */
@media (max-width: 46.25em) {
	.slider-header {
		padding-bottom: 80%;
	}

	.slider-title {
		font-size: 2rem;
	}
}
