/* SELECT */
.select_form_container {
    position: relative;
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 15px;
    border: 1.5px solid #ccc;
    border-radius: 7px;
    margin-top: 8px;
    margin-bottom: 6px;
}

.select_form_container:hover {
    border-color: var(--primary-hover);
    cursor: pointer;
}

.select_list {
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    background-color: var(--color-white);
    border: 1.5px solid #ccc;
    border-radius: 7px;
    z-index: 1;
    max-height: 150px;
    overflow: auto;
}

.select_list_item {
    padding: 10px 15px;
    border-bottom: 1px solid #ccc;
    cursor: pointer;
    transition: all .3s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.select_list_item:last-child {
    border-bottom: none;
}

.select_list_item:hover {
    background-color: var(--primary-hover);
}