.content-container {
	display: flex;
	align-items: flex-start;
	justify-content: space-between;
	padding: 24px;
}

.content-left {
	flex: 2;
	position: relative;
}

.left {
	display: block;
	position: absolute;
	transform: rotate(-90deg);
	margin-bottom: 0;
	top: 55px;
	left: -60px;
	color: var(--color-primary);
}
.left,
.middle_title {
	text-transform: uppercase;
}

.middle {
	display: flex;
	flex-direction: column;
}

.middle_title {
	letter-spacing: 0.5px;
	font-size: 30px;
}

.middle_desc .middle_desc_text {
	line-height: 1.5;
	letter-spacing: 0.5px;
	text-align: justify;
	font-size: 18px;
}
.middle_desc .middle_desc_text a {
	text-decoration: underline;
}

.middle_desc .middle_desc_text + .middle_desc_text {
	margin-top: 12px;
}

.content-right {
	flex: 1;
	width: 100%;
	position: relative;
	padding-bottom: 30%;
	height: 0;
}

.right_img {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-position: center;
	background-size: 100% 100%;
	background-repeat: no-repeat;
}

.btn-cus {
	background-color: var(--color-primary);
	color: var(--color-white);
}

.btn-cus::after {
	border-top-color: var(--color-primary);
}

.btn-cus::before {
	border-top-color: var(--color-primary);
}

.btn-cus:hover {
	background-color: var(--primary-hover);
	color: var(--color-white);
}

.btn-cus:hover::after,
.btn-cus:hover::before {
	border-top-color: var(--primary-hover);
}
.title {
	line-height: 1.5;
}

/* MOBILE */
@media (max-width: 46.25em) {
	.content-container {
		flex-direction: column;
	}

	.middle_title {
		font-size: 20px;
	}

	.content-right {
		padding-bottom: 50%;
		margin-top: 12px;
	}
}
