.container_jobs {
	padding: 12px;
}
.count_text {
	font-weight: bold;
	font-size: 25px;
	margin: 8px;
	color: var(--color-primary);
	line-height: 1.5;
	display: flex;
	align-items: center;
}
.count_text i {
	margin-right: 10px;
}

.header {
	display: flex;
	justify-items: flex-start;
	margin-bottom: 10px;
}
.header .header_image_thumbnail {
	width: 50px;
	height: 50px;
	border-radius: 50%;
	object-fit: fill;
	filter: drop-shadow(0 0 5px rgba(0, 0, 0, 0.2));
}
.header .header_right {
	margin-left: 8px;
}

.list_jobs {
	--cols: 2;
	--spacing: 8px;
	display: flex;
	flex-wrap: wrap;
}
.list_item {
	width: calc((100% / var(--cols)) - (var(--spacing) * 2));
	margin: var(--spacing);
	padding: 12px;
	border-radius: 10px;
	border: 1px solid var(--color-primary);
	min-height: 120px;
	display: flex;
	flex-wrap: wrap;
	flex-direction: column;
}
.list_item p {
	padding: 0;
}
.title_job {
	font-weight: bold;
	font-size: 20px;
	line-height: 1.5;
}
.subtitle_job {
	font-size: 14px;
	color: var(--color-black);
	line-height: 1.5;
}
.divider {
	width: 100%;
	background-color: transparent;
	margin: 12px 0;
	border: 1px dashed #ccc;
}
.subtitle_job_location {
	display: flex;
	align-items: center;
	flex-wrap: wrap;
}
.bage {
	padding: 4px;
	border-radius: 4px;
	background-color: var(--primary-hover);
	color: var(--color-white);
	margin-left: 5px;
}
.content_container {
	flex: 1;
	display: flex;
	flex-direction: column;
}
.desc_job {
	line-height: 1.5;
	text-align: justify;
	flex: 1;
}
.link_container {
	margin-top: auto;
	font-weight: bold;
	display: flex;
	justify-content: flex-end;
}
.link_container a {
	text-decoration: underline;
	color: var(--color-primary);
	margin-bottom: 8px;
}
.pagination-countpage {
	display: flex;
	align-items: center;
	justify-content: center;
}
/* MOBILE */
@media (max-width: 46.25em) {
	.list_jobs {
		--cols: 1;
	}
	.list_item {
		flex-direction: column;
	}
	.title_job {
		font-size: 18px;
	}
	.count_text {
		font-size: 20px;
	}
}
