.body {
    padding: 24px;
}

.desc_body {
    width: 100%;
    margin-top: 12px;
}

.money_vnd {
    margin-top: 8px;
    letter-spacing: 0.5px;
    margin-bottom: 8px;
}

.btn_submit {
    max-width: 200px;
    min-width: 120px;
    padding: 8px 12px !important;
    border-radius: 10px;
    text-align: center;
    cursor: pointer;
}

.view_image {
    position: relative;
    padding-bottom: 150%;
    width: 100%;
    height: 0;
    border-radius: 12px;
    overflow: hidden;
}

.image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: fill;
}