.list-menu-container {
    --cols: 7;
    --spacing: 8px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.menu-item {
    width: calc((100% / var(--cols)) - (var(--spacing) * 2));
    position: relative;
    text-align: center;
    padding: 12px;
    transition: all 0.3s cubic-bezier(0.23, 1, 0.320, 1);
}

/* EDIT */
.menu-item:hover .list-menu-item,
.menu-item-child:hover .list-menu-item-child {
    display: flex;
}

.list-menu-item,
.list-menu-item-child {
    display: none;
    flex-direction: column;
    position: absolute;
    top: 100%;
    left: 0;
    width: max-content;
    min-width: 220px;
    background-color: var(--color-white);
    box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.2);
    border-radius: 5px;
    z-index: 1;
    transition: all .5s cubic-bezier(0.19, 1, 0.22, 1)
}

.list-menu-item-child {
    top: 70%;
    transform: translateX(111%);
}

.menu-item-child,
.menu-item-child-child {
    padding: 12px;
    text-align: left;
    transition: all 0.3s cubic-bezier(0.23, 1, 0.320, 1);
}

/* hover menu-item không làm đổi màu chữ menu-item-child và ngược lại */
.menu-item:hover,
.menu-item-child:hover,
.menu-item.active,
.menu-item-child.active {
    color: var(--color-primary);
}

.menu-item:hover .menu-item-child,
.menu-item-child:hover .menu-item-child-child,
.menu-item.active .menu-item-child,
.menu-item-child.active .menu-item-child-child {
    color: initial;
}

.menu-item-child:hover,
.menu-item-child.active,
.menu-item-child-child:hover,
.menu-item-child-child.active {
    color: var(--color-primary) !important;
}

/* END EDIT */

.logo {
    position: absolute;
    top: 10%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 120px;
    height: 120px;
    z-index: 10;
    object-fit: fill;
    image-rendering: auto;
    filter: drop-shadow(0 0 5px rgba(0, 0, 0, 0.2));
}

.divider {
    position: relative;
}

.divider::before {
    content: '';
    position: absolute;
    top: -100%;
    right: -12%;
    width: 30px;
    height: 100px;
    background-color: transparent;
    z-index: 999999999;
}