.body {
    padding: 24px;
}

.table_manager_container {
    border: 1px solid #ccc;
    border-radius: 12px;
    overflow: hidden;
}

.table_manager_list {
    --cols: 2;
    --spacing: 8px;
    display: flex;
    flex-direction: row;
    height: 48px;
    width: 100%;
    font-size: 16px;
}

.table_manager_item {
    flex: 1 1 calc(100% / var(--cols));
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    text-align: center;
    cursor: pointer;
    transition: all .3s cubic-bezier(0.445, 0.05, 0.55, 0.95);
    border-bottom: 1.5px solid transparent;
}

.table_manager_item:hover {
    background-color: var(--bgc-info);
    color: var(--color-info);
}

.active {
    border-bottom: 1.5px solid var(--color-info);
    background-color: var(--bgc-info);
    color: var(--color-info);
}

.body_components {
    padding: 10px 12px;
}