.body {
    padding: 24px;
}

.total_assets_list_custom {
    --cols: 3;
    --spacing: 8px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
}

/* MOBILE */
@media (max-width: 46.25em) {
    .total_assets_list_custom {
        --cols: 1;
    }
}