.mr8 {
    margin-right: 8px;
}

.ml8 {
    margin-left: 8px;
}

.mt8 {
    margin-top: 8px;
}

.mt12 {
    margin-top: 12px;
}

.mt30 {
    margin-top: 30px;
}

.mt50 {
    margin-top: 50px;
}

.mb8 {
    margin-bottom: 8px;
}

.mb12 {
    margin-bottom: 12px;
}

.text-upc {
    text-transform: uppercase;
}

.fwb {
    font-weight: bold;
}

.font-Grind-Demolished {
    font-family: 'Grind Demolished', sans-serif;
}

.fz12 {
    font-size: 12px;
}

.fz14 {
    font-size: 14px;
}

.fz16 {
    font-size: 16px;
}

.flex-center {
    display: flex;
    align-items: center;
    justify-content: center;
}

.flex-between {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.flex-row {
    display: flex;
    flex-direction: row;
}

.text-middle {
    vertical-align: middle;
}

.text-left {
    text-align: left;
}

.text-right {
    text-align: right;
}