.mr8 {
	margin-right: 8px;
}
.mr4 {
	margin-right: 4px;
}

.ml8 {
	margin-left: 8px;
}

.ml4 {
	margin-left: 4px;
}
.mt0 {
	margin-top: 0px;
}
.mr0 {
	margin-right: 0px;
}
.ml0 {
	margin-left: 0px !important;
}
.p0 {
	padding: 0px;
}
.mt8 {
	margin-top: 8px;
}

.mt12 {
	margin-top: 12px;
}

.mt30 {
	margin-top: 30px;
}

.mt50 {
	margin-top: 50px;
}

.mb50 {
	margin-bottom: 50px;
}

.mb8 {
	margin-bottom: 8px;
}

.mb12 {
	margin-bottom: 12px;
}

.text-upc {
	text-transform: uppercase;
}

.fwb {
	font-weight: bold;
}

.font-Grind-Demolished {
	font-family: 'Grind Demolished', sans-serif;
}

.fz12 {
	font-size: 12px;
}

.fz14 {
	font-size: 14px;
}

.fz16 {
	font-size: 16px;
}

.flex-center {
	display: flex;
	align-items: center;
	justify-content: center;
}

.flex-between {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.flex-start {
	display: flex;
	align-items: center;
	justify-content: flex-start;
}

.flex-end {
	display: flex;
	align-items: center;
	justify-content: flex-end;
}

.flex-row {
	display: flex;
	flex-direction: row;
}
.flex-row-reverse {
	display: flex;
	flex-direction: row-reverse;
}

.flex-column {
	display: flex;
	flex-direction: column;
}

.w100 {
	width: 100%;
}
.mh250 {
	min-height: 250px;
	max-height: 250px;
}

.text-middle {
	vertical-align: middle;
}

.text-left {
	text-align: left;
}

.text-right {
	text-align: right;
}

.text-center {
	text-align: center;
}

.italic {
	font-style: italic;
}

.item-w150 {
	max-width: 150px !important;
	word-wrap: break-word !important;
}

.item-w100 {
	max-width: 100px !important;
	word-wrap: break-word !important;
}

.item-w50 {
	max-width: 50px !important;
	word-wrap: break-word !important;
}

.item-w30 {
	max-width: 30px !important;
	word-wrap: break-word !important;
}

.item-w200 {
	max-width: 200px !important;
	word-wrap: break-word;
}

.text-primary {
	color: var(--color-primary) !important;
}
.cr_default {
	cursor: default !important;
}

.bgi_custom_filter_brightness_50 {
	filter: brightness(0.5);
}
.bgi_custom_filter_brightness_60 {
	filter: brightness(0.6);
}
.bgi_custom_filter_brightness_70 {
	filter: brightness(0.7);
}
.bgi_custom_filter_brightness_80 {
	filter: brightness(0.8);
}
ul {
	list-style-position: inside !important;
}
.Mui-selected {
	background-color: var(--color-primary) !important;
	color: var(--color-white) !important;
}
.MuiMenuItem-root {
	transition: all 0.2s linear;
}
.MuiMenuItem-root:hover {
	background-color: var(--primary-hover) !important;
	color: var(--color-black) !important;
}
.no_boxshadow {
	box-shadow: none !important;
}
.EmojiPickerReact {
	width: 100% !important;
	margin-bottom: 12px !important;
}
.MuiSnackbar-root {
	z-index: 99999999999999 !important;
}

/* TABLET */
@media (min-width: 46.25em) and (max-width: 63.9375em) {
	.tl-flex-row-reverse {
		display: flex;
		flex-direction: row-reverse;
	}
	.tl-flex-column-reverse {
		display: flex;
		flex-direction: column-reverse;
	}
}

/* MOBILE */
@media (max-width: 46.25em) {
	.mb-flex-row-reverse {
		display: flex;
		flex-direction: row-reverse;
	}
	.mb-flex-column-reverse {
		display: flex;
		flex-direction: column-reverse;
	}
}
