.app {
    overflow: hidden;
}

.scroll-to-top-container {
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    padding: 15px;
    border: 1px solid var(--color-white);
    border-radius: 8px;
    background-color: var(--color-primary);
    bottom: 20px;
    right: 20px;
    color: var(--color-white);
    z-index: 999;
    cursor: pointer;
    animation: fadeIn 0.5s ease-in-out;
}

.scroll-to-top-container i {
    font-size: 14px;
}

.btn-down-app {
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 150px;
    height: 40px;
    padding: 15px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.25);
    border-radius: 24px;
    background-color: var(--color-white);
    bottom: 20px;
    right: 20px;
    color: black;
    z-index: 999;
    cursor: pointer;
    font-size: 15px;
    font-weight: bold;
}

.list-app-container {
    position: absolute;
    right: 150px;
    bottom: 25px;
    padding: 12px 0;
    background-color: var(--color-white);
    border-radius: 8px;
    width: max-content;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.25);
    animation: fadeIn 0.5s ease-in-out;
}

.list-app-item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 12px;
    font-weight: normal;
    transition: all 0.2s cubic-bezier(0.165, 0.84, 0.44, 1);
    text-decoration: none;
    color: black;
}

.list-app-item:hover {
    text-decoration: none;
    color: black;
    background-color: rgba(0, 0, 0, 0.05);
}

.list-app-item-text {
    font-size: 15px;
    flex: 1;
}

.react-datepicker-popper[data-placement^=bottom] .react-datepicker__triangle::before,
.react-datepicker-popper[data-placement^=bottom] .react-datepicker__triangle::after,
.react-datepicker-popper[data-placement^=top] .react-datepicker__triangle::before,
.react-datepicker-popper[data-placement^=top] .react-datepicker__triangle::after {
    left: -14px;
}

.react-datepicker__input-container input {
    width: 100%;
    padding: 15px 12px;
    border-radius: 8px;
    border: 1.5px solid #ccc;
    margin-top: 8px;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }

}