.status {
	display: inline-block;
	padding: 10px 12px;
	border-radius: 0.25em;
	font-size: 0.75em;
	font-weight: 600;
	line-height: 1;
	text-align: center;
	white-space: nowrap;
	vertical-align: baseline;
}

.cancel {
	color: var(--color-cancel);
}

.cancelbgc {
	background-color: var(--bgc-cancel);
	color: var(--color-cancel);
}

.cancelbgc:hover {
	background-color: var(--color-cancel);
	color: var(--color-white);
}

.cancelbgcbold {
	background-color: var(--color-cancel);
	color: var(--color-white);
}

.cancelbgcbold:hover {
	background-color: var(--bgc-cancel);
	color: var(--color-cancel);
}

.success {
	color: var(--color-success);
}

.successbgc {
	background-color: var(--bgc-success);
	color: var(--color-success);
}

.successbgc:hover {
	background-color: var(--color-success);
	color: var(--color-white);
}

.successbgcbold {
	background-color: var(--color-success);
	color: var(--color-white);
}

.successbgcbold:hover {
	background-color: var(--bgc-success);
	color: var(--color-success);
}

.info {
	color: var(--color-info);
}

.infobgc {
	background-color: var(--bgc-info);
	color: var(--color-info);
}

.infobgc:hover {
	background-color: var(--color-info);
	color: var(--color-white);
}

.infobgcbold {
	background-color: var(--color-info);
	color: var(--color-white);
}

.infobgcbold:hover {
	background-color: var(--bgc-info);
	color: var(--color-info);
}

.warning {
	color: var(--color-warning);
}

.warningbgc {
	background-color: var(--bgc-warning);
	color: var(--color-warning);
}

.warningbgc:hover {
	background-color: var(--color-warning);
	color: var(--color-white);
}

.warningbgcbold {
	background-color: var(--color-warning);
	color: var(--color-white);
}

.warningbgcbold:hover {
	background-color: var(--bgc-warning);
	color: var(--color-warning);
}
