.linkHref {
    background: var(--color-primary);
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 30px;
    max-height: 30px;
    width: 30px;
    color: var(--color-white);
    border-radius: 3px;
    transition: all 0.3s cubic-bezier(0.19, 1, 0.22, 1);
}

.linkHref+.linkHref {
    margin-left: 8px;
}

.linkHref:hover {
    background: var(--primary-hover);
}

/* MOBILE */
@media (max-width: 46.25em) {
    .linkHref {
        min-height: 25px;
        max-height: 25px;
        width: 25px;
    }
}