.label {
	font-weight: bold;
	font-size: 14px;
	margin-bottom: 5px;
	color: var(--color-primary);
}
.content {
	text-align: justify;
}
.thumbnail,
.image_single {
	width: 100%;
	height: 150px;
	object-fit: fill;
	image-rendering: optimizeQuality;
	border-radius: 12px;
	filter: drop-shadow(0 0 5px rgba(0, 0, 0, 0.2));
}
.image_single {
	height: 500px;
	margin-bottom: 12px;
}
.image_multiple_container {
	--cols: 5;
	--spacing: 8px;
	display: flex;
	flex-wrap: wrap;
	margin-bottom: 12px;
}
.image_multiple_item {
	width: calc((100% / var(--cols)) - (var(--spacing) * 2));
	margin: var(--spacing);
	border-radius: 12px;
	filter: drop-shadow(0 0 5px rgba(0, 0, 0, 0.2));
}

/* TABLET */
@media (min-width: 46.25em) and (max-width: 63.9375em) {
	.image_single {
		height: 350px;
	}
	.image_multiple_container {
		--cols: 2;
	}
}
/* MOBILE */
@media (max-width: 46.25em) {
	.container {
		padding: 0;
	}
	.image_single {
		height: 350px;
	}
	.image_multiple_container {
		--cols: 2;
	}
}
