.body {
    padding: 24px;
}

.menu_conatiner {
    padding: 20px 12px 12px 12px;
}

.list_info_container {
    --cols: 2;
    --spacing: 8px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    min-height: 200px;
}

.list_info_item {
    width: calc((100% / var(--cols)) - (var(--spacing) * 2));
    margin: var(--spacing);
    position: relative;
    border: 1px solid #ccc;
    border-radius: 10px;
}

.item_text {
    position: absolute;
    top: -16px;
    left: 20px;
    background-color: #fff;
    padding: 0 12px;
    display: flex;
    align-items: center;
    color: var(--color-primary);
    font-weight: 600;
    font-size: 20px;
    max-width: 90%;
    line-height: 1.5;
}

.item_text span {
    margin-left: 5px;
}

.authen_container {
    display: flex;
    flex-direction: row;
    align-items: center;
    border-bottom: 1px dashed #ccc;
    padding-bottom: 12px;
}

.image_user {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-right: 10px;
    object-fit: fill;
}

.authen_email_container {
    flex: 1;
}

.name_user {
    font-weight: bold;
    letter-spacing: 0.5px;
    font-size: 18px;
}

.email_authen {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: var(--color-info);
    cursor: pointer;
    margin: 5px 0;
    font-size: 14px;
}

.email_authen i {
    font-size: 18px;
}

.btn_authen {
    padding: 5px 30px;
    border-radius: 24px;
    background-color: var(--bgc-cancel);
    color: var(--color-cancel);
    font-weight: bold;
    font-size: 14px;
    cursor: pointer;
    text-align: center;
    width: 200px;
}

.btn_logout {
    padding: 12px 14px;
    border-radius: 10px;
    font-weight: bold;
    font-size: 14px;
    text-align: center;
    cursor: pointer;
    margin-top: 12px;
}

/* MOBILE */
@media (max-width: 46.25em) {
    .list_info_container {
        --cols: 1;
    }
}