.detail_container {
	padding: 12px;
}
.list_item {
	width: 100%;
	padding: 12px;
	border-radius: 10px;
	border: 1px solid var(--color-primary);
	min-height: 120px;
}
.title_job {
	font-weight: bold;
	font-size: 22px;
	line-height: 1.5;
}
.subtitle_job {
	font-size: 16px;
	color: var(--color-black);
	line-height: 1.5;
}
.divider {
	width: 100%;
	background-color: transparent;
	margin: 12px 0;
	border: 1px dashed #ccc;
}
.desc_job {
	line-height: 1.5;
	text-align: justify;
}
.slider_header_custom {
	padding-bottom: 50%;
}
.subtitle_job_location {
	display: flex;
	align-items: center;
	flex-wrap: wrap;
}
.list_location {
	display: flex;
	flex-wrap: wrap;
}
.location_bage {
	padding: 8px;
	border-radius: 5px;
	background-color: var(--color-primary);
	margin: 5px;
	color: var(--color-white);
}
/* TABLET */
@media (min-width: 46.25em) and (max-width: 63.9375em) {
	.slider_header_custom {
		padding-bottom: 80%;
	}
}

/* MOBILE */
@media (max-width: 46.25em) {
	.slider_header_custom {
		padding-bottom: 100%;
	}
}
