.body {
    padding: 24px;
}

.menu_conatiner {
    padding: 20px 12px 12px 12px;
}

.list_info_container {
    --cols: 2;
    --spacing: 8px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    min-height: 200px;
}

.list_info_item {
    width: calc((100% / var(--cols)) - (var(--spacing) * 2));
    margin: var(--spacing);
    position: relative;
    border: 1px solid #ccc;
    border-radius: 10px;
}

.item_text {
    position: absolute;
    top: -16px;
    left: 20px;
    background-color: #fff;
    padding: 0 12px;
    display: flex;
    align-items: center;
    color: var(--color-primary);
    font-weight: 600;
    font-size: 20px;
    max-width: 90%;
    line-height: 1.5;
}

.item_text span {
    margin-left: 5px;
}

.money_vnd {
    margin-top: 8px;
    letter-spacing: 0.5px;
    margin-bottom: 8px;
}

.btn_submit {
    max-width: 200px;
    min-width: 120px;
    padding: 8px 12px !important;
    border-radius: 10px;
    text-align: center;
    cursor: pointer;
}

/* MOBILE */
@media (max-width: 46.25em) {
    .list_info_container {
        --cols: 1;
    }
}