/* HEADER_TOP */
.header_top {
	--cols: 2;
	--spacing: 8px;
	display: flex;
	align-items: center;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-between;
	padding: 10px 12px;
}

.header_top_item {
	width: calc((100% / var(--cols)) - (var(--spacing) * 2));
	margin: 0 var(--spacing);
}

.header_top_btn_social {
	display: flex;
	align-items: center;
	justify-content: center;
}

.btn {
	display: flex;
	align-items: center;
	justify-content: center;
	border-radius: 6px;
	transition: all 0.3s ease;
	padding: 12px;
	font-weight: bold;
	cursor: pointer;
	min-width: 120px;
}
.btn_login {
	background-color: #fafafa;
}
.btn_login:hover {
	background-color: #ecf0f1;
}
.btn_register,
.btn_logout {
	background-color: var(--color-primary);
	color: var(--color-white);
}
.btn_register:hover,
.btn_logout:hover {
	background-color: var(--primary-hover);
}

/* DIVEDER */
.divider {
	height: 1px;
	background-color: var(--color-gray);
	margin: 0 12px;
}

/* HEADER BOTTOM */
.header_bottom,
.header_mobile {
	position: relative;
	padding: 10px 12px;
	border-bottom: 2px solid var(--color-primary);
}

.header_mobile {
	display: none;
}

/* TABLET */
@media (min-width: 46.25em) and (max-width: 63.9375em) {
	.header_top {
		--cols: 1;
	}

	.header_top_item {
		margin-bottom: 10px;
	}

	.btn {
		width: 100%;
	}
	.header_bottom {
		display: none;
	}

	.header_mobile {
		display: block;
	}
}

/* MOBILE */
@media (max-width: 46.25em) {
	.header_top {
		--cols: 1;
	}

	.header_top_item {
		margin-bottom: 10px;
	}

	.btn {
		width: 100%;
	}

	.header_bottom {
		display: none;
	}

	.header_mobile {
		display: block;
	}
}
