.total_assets_container {
    position: relative;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    padding: 24px;
    border-radius: 12px;
}

.icon_eye {
    position: absolute;
    top: -16px;
    left: 20px;
    cursor: pointer;
    padding: 8px 24px;
    background-color: #fff;
}

.total_assets_list {
    --cols: 4;
    --spacing: 8px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.total_assets_item {
    width: calc((100% / var(--cols)) - (var(--spacing) * 2));
    margin: var(--spacing);
    border: 1.5px solid var(--color-primary);
    padding: 10px 12px;
    border-radius: 12px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--primary-hover);
}

.total_assets_item_title {
    font-size: 18px;
    line-height: 1.5;
    font-weight: bold;
}

/* MOBILE */
@media (max-width: 46.25em) {
    .total_assets_list {
        --cols: 2;
    }
}