.slider-home {
    position: relative;
    padding-bottom: 50%;
    height: 0;
}

.slider-image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-position: center;
    background-size: 100% 100%;
    background-repeat: no-repeat;
}

.slider-text-container {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100%;
    transform: translate(-50%, -50%);
    color: var(--color-white);
    text-align: center;
    font-family: 'Grind Demolished', sans-serif;
    padding: 0 50px;
}

.slider-title,
.slider-desc {
    font-size: 3.5rem;
    font-weight: bold;
    text-transform: uppercase;
    text-shadow: 0 0 10px black;
    line-height: 1.5;
    letter-spacing: 2px;
}

.slider-desc {
    font-size: 2rem;
    margin-bottom: 12px;
}

/* MOBILE */
@media (max-width: 46.25em) {
    .slider-home {
        padding-bottom: 70%;
    }

    .slider-text-container {
        padding: 0 20px;
    }

    .slider-title {
        font-size: 1.5rem;
    }

    .slider-desc {
        font-size: 1rem;
    }
}