.slider-home {
	position: relative;
	padding-bottom: 50%;
	height: 0;
}

.slider-image {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-position: center;
	background-size: 100% 100%;
	background-repeat: no-repeat;
}

.title2 {
	color: var(--color-primary);
}

.slider-text-container {
	position: absolute;
	top: 50%;
	left: 50%;
	width: 100%;
	transform: translate(-50%, -50%);
	color: var(--color-white);
	text-align: center;
	/* font-family: 'Grind Demolished', sans-serif; */
	padding: 12px 40px;
	background-color: #ffffff05;
	backdrop-filter: blur(10px);
	-webkit-backdrop-filter: blur(10px);
}

.slider-title,
.slider-desc {
	font-size: 3.5rem;
	font-weight: bold;
	text-transform: uppercase;
	text-shadow: 1px 1px 10px rgba(0, 0, 0, 0.5);
	line-height: 1.5;
	letter-spacing: 2px;
}

.slider-desc {
	font-size: 2rem;
	margin-bottom: 12px;
}

/* TABLET */
@media (min-width: 46.25em) and (max-width: 63.9375em) {
	.slider-title {
		font-size: 2.5rem;
	}

	.slider-desc {
		font-size: 2rem;
	}
}

/* MOBILE */
@media (max-width: 46.25em) {
	.slider-home {
		padding-bottom: 90%;
	}

	.slider-text-container {
		padding: 0 20px;
	}

	.slider-title {
		font-size: 1.5rem;
	}

	.slider-desc {
		font-size: 1rem;
	}
}
