.body {
    padding: 24px;
}

.desc_body {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 10px 0;
}

.text_thank {
    text-align: center;
    margin-top: 24px;
    font-weight: bold;
}